<form method="post" action="{{ path('app_blog_delete', {'slug': post.slug}) }}" onsubmit="return confirm('Êtes-vous sûr.e de vouloir supprimer cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.slug) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
