{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    <div class="container">
        <div class=" my-5">
            <h1>Modifier l'article</h1>
        </div>
        {{ include('blog/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}