{% extends "base.html.twig" %}

{% block title %}Page non autorisée{% endblock %}

{% block body %}
    <div class="container">
        <div class="my-5">
			<h1>Page non autorisée</h1>
		</div>
        <p>Vous n'êtes pas autorisé.e à accéder à la page recherchée</p>
        <button class="btn btn-primary"><a href="{{ path('app_home') }}" class="nav-link text-white">Revenir à la page d'accueil</a></button>
    </div>
{% endblock %}